<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="utf-8">
        <title>Dtox</title>

        <!-- mobile responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- ** Plugins Needed for the Project ** -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="assets/plugins/bootstrap/bootstrap.min.css">
        <!-- themefy-icon -->
        <link rel="stylesheet" href="assets/plugins/themify-icons/themify-icons.css">
        <!-- slick slider -->
        <link rel="stylesheet" href="assets/plugins/slick/slick.css">
        <!-- venobox popup -->
        <link rel="stylesheet" href="assets/plugins/Venobox/venobox.css">
        <!-- aos -->
        <link rel="stylesheet" href="assets/plugins/aos/aos.css">

        <!-- Main Stylesheet -->
        <link href="assets/css/style.css" rel="stylesheet">

        <!--Favicon-->
        <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    </head>

    <body>


        <!-- navigation -->
        <section class="fixed-top navigation">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/">
                        <h3>FIDO Payments</h3>
                    </a>
                    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- navbar -->
                    <div class="collapse navbar-collapse text-center" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <!-- <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#feature">Feature</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="#">Service</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="/inittagread">Receive money</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="/clearcookies">Clear Username</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/inintlogin">Login</a>
                            </li>
                        </ul>
                        <a class="btn btn-primary ml-lg-3 primary-shadow" href="/signup">Sign Up</a></a>
                    </div>
                </nav>
            </div>
        </section>
        <!-- /navigation -->

        <!-- hero area -->
        <section class="hero-section hero" data-background=""
            style="background-image: url(images/hero-area/banner-bg.png);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center zindex-1">
                        <h1 class="mb-3">FIDO2 based secure<br>
                            Transactions</h1>
                        <p class="mb-4">Accept payments from any app for FREE & take loans whenever you need!</p>
                        <a href="/initlogin" class="btn btn-secondary btn-lg">explore us</a>
                        <!-- banner image -->
                        <img class="img-fluid w-100 banner-image" src="assets/images/hero-area/banner-img.png"
                            alt="banner-img">
                    </div>
                </div>
            </div>
            <!-- background shapes -->
            <div id="scene">
                <img class="img-fluid hero-bg-1 up-down-animation" src="assets/images/background-shape/feature-bg-2.png"
                    alt="">
                <img class="img-fluid hero-bg-2 left-right-animation"
                    src="assets/images/background-shape/seo-ball-1.png" alt="">
                <img class="img-fluid hero-bg-3 left-right-animation"
                    src="assets/images/background-shape/seo-half-cycle.png" alt="">
                <img class="img-fluid hero-bg-4 up-down-animation" src="assets/images/background-shape/green-dot.png"
                    alt="">
                <img class="img-fluid hero-bg-5 left-right-animation"
                    src="assets/images/background-shape/blue-half-cycle.png" alt="">
                <img class="img-fluid hero-bg-6 up-down-animation" src="assets/images/background-shape/seo-ball-1.png"
                    alt="">
                <img class="img-fluid hero-bg-7 left-right-animation"
                    src="assets/images/background-shape/yellow-triangle.png" alt="">
                <img class="img-fluid hero-bg-8 up-down-animation"
                    src="assets/images/background-shape/service-half-cycle.png" alt="">
                <img class="img-fluid hero-bg-9 up-down-animation"
                    src="assets/images/background-shape/team-bg-triangle.png" alt="">
            </div>
        </section>
        <!-- /hero-area -->

        <!-- feature -->
        <section class="section feature mb-0" id="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-title">Awesome Features</h2>
                        <p class="mb-100">FIDO2 Smart Card for easy authenticated payments.</p>
                    </div>
                    <!-- feature item -->
                    <div class="col-md-6 mb-80">
                        <div class="d-flex feature-item">
                            <div>
                                <i class="ti-ruler-pencil feature-icon mr-4"></i>
                            </div>
                            <div>
                                <h4>FIDO2 Supported Physical Security Key/Card</h4>
                                <p>Users willing to use this service can buy a FIDO2 supported physical security key
                                    with USB, NFC and
                                    BLE capabilities</p>
                            </div>
                        </div>
                    </div>
                    <!-- feature item -->
                    <div class="col-md-6 mb-80">
                        <div class="d-flex feature-item">
                            <div>
                                <i class="ti-layout-cta-left feature-icon mr-4"></i>
                            </div>
                            <div>
                                <h4>User Portal</h4>
                                <p>Register on our website to generate a unique username and register the FIDO2 key
                                    along with it. The
                                    user portal contains
                                    the option to make and view transactions.</p>
                            </div>
                        </div>
                    </div>
                    <!-- feature item -->
                    <div class="col-md-6 mb-80">
                        <div class="d-flex feature-item">
                            <div>
                                <i class="ti-split-v-alt feature-icon mr-4"></i>
                            </div>
                            <div>
                                <h4>Prevent Misguidance</h4>
                                <p>It is to be noted that all payments are logged in a ledger.</p>
                            </div>
                        </div>
                    </div>
                    <!-- feature item -->
                    <div class="col-md-6 mb-80">
                        <div class="d-flex feature-item">
                            <div>
                                <i class="ti-layers-alt feature-icon mr-4"></i>
                            </div>
                            <div>
                                <h4>Tokenize money with NFC Tokens</h4>
                                <p>User can write the transaction information on a NFC Token and the token is as good as
                                    cash.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-80">
                        <div class="d-flex feature-item">
                            <div>
                                <i class="ti-layers-alt feature-icon mr-4"></i>
                            </div>
                            <div>
                                <h4>Transaction history</h4>
                                <p>All monetary transcations against an user is easily viewable from the portal.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-80">
                        <div class="d-flex feature-item">
                            <div>
                                <i class="ti-layers-alt feature-icon mr-4"></i>
                            </div>
                            <div>
                                <h4>Nearby Share</h4>
                                <p>Easy payments to people nearby with Android Nearby Share or Apple AirDrop.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="feature-bg-1 up-down-animation" src="assets/images/background-shape/feature-bg-1.png"
                alt="bg-shape">
            <img class="feature-bg-2 left-right-animation" src="assets/images/background-shape/feature-bg-2.png"
                alt="bg-shape">
        </section>
        <!-- /feature -->

        <!-- marketing -->
        <section class="section-lg seo">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="seo-image">
                            <img class="img-fluid" src="assets/images/marketing/marketing.png" alt="form-img">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h2 class="section-title">A Complete Range Of FIDO Transactions!</h2>
                        <p>
                            FIDO Payments is a seamless and fast web-based framework for leveraging digital lending
                            processes to
                            sustainably serve
                            unbanked or underserved segments with (digital) credit. It uses principles of device
                            attestation to
                            eliminate
                            complications in loan application and simplifies the entire lending process. This framework
                            can be used
                            both in online
                            as well as offline banking.
                        </p>
                    </div>
                </div>
            </div>
            <!-- background image -->
            <img class="img-fluid seo-bg" src="assets/images/backgrounds/seo-bg.png" alt="seo-bg">
            <!-- background-shape -->
            <img class="seo-bg-shape-1 left-right-animation" src="assets/images/background-shape/seo-ball-1.png"
                alt="bg-shape">
            <img class="seo-bg-shape-2 up-down-animation" src="assets/images/background-shape/seo-half-cycle.png"
                alt="bg-shape">
            <img class="seo-bg-shape-3 left-right-animation" src="assets/images/background-shape/seo-ball-2.png"
                alt="bg-shape">
        </section>
        <!-- /marketing -->

        <!-- service -->
        <section class="section-lg service">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-5 order-2 order-md-1">
                        <h2 class="section-title">Engineered using cutting edge Technologies</h2>
                        <p class="mb-4">We used the cutting edge technology to provide a better experience and
                            performance.</p>
                        <ul class="pl-0 service-list">
                            <li><i class="ti-layout-tab-window text-purple"></i>FIDO2 Specifications</li>
                            <li><i class="ti-layout-placeholder text-purple"></i>Microsoft Azure Cloud Services</li>
                            <li><i class="ti-support text-purple"></i>Web NFC</li>
                        </ul>
                    </div>
                    <div class="col-md-7 order-1 order-md-2">
                        <img class="img-fluid layer-3" src="assets/images/service/service.png" alt="service">
                    </div>
                </div>
            </div>
            <!-- background image -->
            <img class="img-fluid service-bg" src="assets/images/backgrounds/service-bg.png" alt="service-bg">
            <!-- background shapes -->
            <img class="service-bg-shape-1 up-down-animation"
                src="assets/images/background-shape/service-half-cycle.png" alt="background-shape">
            <img class="service-bg-shape-2 left-right-animation" src="assets/images/background-shape/feature-bg-2.png"
                alt="background-shape">
        </section>

        <!-- /service -->
        <!-- team -->
        <section class="section-lg team" id="team">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-title">Our Team</h2>
                        <p class="mb-100">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                            eu<br>
                            fugiat nulla pariatur. Excepteur sint occaecat </p>
                    </div>
                </div>
                <div class="col-10 mx-auto">
                    <div class="team-slider">
                        <!-- team-member -->
                        <div class="team-member">
                            <div class="d-flex mb-4">
                                <div class="mr-3">
                                    <img class="rounded-circle img-fluid" src="assets/images/team/team-1.jpg"
                                        alt="team-member">
                                </div>
                                <div class="align-self-center">
                                    <h4>Rishita Shaw</h4>
                                    <h6 class="text-color">web designer</h6>
                                </div>
                            </div>
                            <p>Trying to by the nicest and hardest working person in the room.</p>
                        </div>
                        <!-- team-member -->
                        <div class="team-member">
                            <div class="d-flex mb-4">
                                <div class="mr-3">
                                    <img class="rounded-circle img-fluid" src="assets/images/team/team-2.jpg"
                                        alt="team-member">
                                </div>
                                <div class="align-self-center">
                                    <h4>Aditya Mitra</h4>
                                    <h6 class="text-color">web developer</h6>
                                </div>
                            </div>
                            <p>Some call it reality, some call it stimulation. In the end, it's all a piece of code.</p>
                        </div>
                        <!-- team-member -->
                        <div class="team-member">
                            <div class="d-flex mb-4">
                                <div class="mr-3">
                                    <img class="rounded-circle img-fluid" src="assets/images/team/team-3.jpg"
                                        alt="team-member">
                                </div>
                                <div class="align-self-center">
                                    <h4>Anisha Ghosh
                                    </h4>
                                    <h6 class="text-color">Web Developer</h6>
                                </div>
                            </div>
                            <p>Make it or break it; but never fake it.</p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- backgound image -->
            <img src="assets/images/backgrounds/team-bg.png" alt="team-bg" class="img-fluid team-bg">
            <!-- background shapes -->
            <img class="team-bg-shape-1 up-down-animation" src="assets/images/background-shape/seo-ball-1.png"
                alt="background-shape">
            <img class="team-bg-shape-2 left-right-animation" src="assets/images/background-shape/seo-ball-1.png"
                alt="background-shape">
            <img class="team-bg-shape-3 left-right-animation" src="assets/images/background-shape/team-bg-triangle.png"
                alt="background-shape">
            <img class="team-bg-shape-4 up-down-animation img-fluid"
                src="assets/images/background-shape/team-bg-dots.png" alt="background-shape">
        </section>
        <!-- /team -->

        <!-- pricing -->
        <section class="section-lg pb-0 pricing" id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-title">FAQs</h2>
                        <p class="mb-50">Frequently asked questions. Questions you might have trouble with are</p>
                    </div>
                    <div class="col-lg-10 mx-auto">
                        <div class="row justify-content-center">
                            <!-- pricing table -->
                            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                                <div class="rounded text-center pricing-table table-1">
                                    <h4>What if the user loses the FIDO2
                                        key?</h4>
                                    <p>He/She/They can login via Email OTP to assign new FIDO2
                                        key.
                                    </p>
                                </div>
                            </div>
                            <!-- pricing table -->
                            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                                <div class="rounded text-center pricing-table table-2">
                                    <h4>When the user is unable to log in but needs someone else to?</h4>
                                    <p>Since FIDO2 is a Passwordless technology, the family members of the user can use
                                        the security key.
                                    </p>
                                </div>
                            </div>
                            <!-- pricing table -->
                            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                                <div class="rounded text-center pricing-table table-3">
                                    <h4>What are the system requirements for the user?</h4>
                                    <p>Any android phone with Google Chrome 89+ and NFC reader.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- background shapes -->
            <img class="pricing-bg-shape-1 up-down-animation" src="assets/images/background-shape/seo-ball-1.png"
                alt="background-shape">
            <img class="pricing-bg-shape-2 up-down-animation" src="assets/images/background-shape/seo-half-cycle.png"
                alt="background-shape">
            <img class="pricing-bg-shape-3 left-right-animation"
                src="assets/images/background-shape/team-bg-triangle.png" alt="background-shape">
        </section>
        <!-- /pricing -->

        <!-- client logo slider -->
        <section class="section">
            <div class="container">
                <div class="client-logo-slider align-self-center">
                    <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                            src="assets/images/clients-logo/client-logo-1.png" alt="client-logo"></a>
                    <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                            src="assets/images/clients-logo/client-logo-2.png" alt="client-logo"></a>
                    <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                            src="assets/images/clients-logo/client-logo-3.png" alt="client-logo"></a>
                    <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                            src="assets/images/clients-logo/client-logo-4.png" alt="client-logo"></a>
                    <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                            src="assets/images/clients-logo/client-logo-5.png" alt="client-logo"></a>
                    <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                            src="assets/images/clients-logo/client-logo-1.png" alt="client-logo"></a>
                    <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                            src="assets/images/clients-logo/client-logo-2.png" alt="client-logo"></a>
                    <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                            src="assets/images/clients-logo/client-logo-3.png" alt="client-logo"></a>
                    <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                            src="assets/images/clients-logo/client-logo-4.png" alt="client-logo"></a>
                    <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                            src="assets/images/clients-logo/client-logo-5.png" alt="client-logo"></a>
                </div>
            </div>
        </section>
        <!-- /client logo slider -->

        <!-- newsletter -->
        <section class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Subscribe to our newsletter</h2>
                        <p class="mb-5">Receive updates, news and deals</p>
                    </div>
                    <div class="col-lg-8 col-sm-10 col-12 mx-auto">
                        <form action="#">
                            <div class="input-wrapper position-relative">
                                <input type="email" class="newsletter-form" id="newsletter"
                                    placeholder="Enter your email">
                                <button type="submit" value="send" class="btn newsletter-btn">subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- background shapes -->
            <img class="newsletter-bg-shape left-right-animation" src="assets/images/background-shape/seo-ball-2.png"
                alt="background-shape">
        </section>
        <!-- /newsletter -->

        <!-- footer -->
        <footer class="footer-section footer" style="background-image: url(images/backgrounds/footer-bg.png);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
                        <!-- logo -->
                        <a href="index.html">
                            <img class="img-fluid" src="assets/images/logo.png" alt="logo">
                        </a>
                    </div>
                    <!-- footer menu -->
                    <nav class="col-lg-8 align-self-center mb-5">
                        <ul class="list-inline text-lg-right text-center footer-menu">
                            <li class="list-inline-item active"><a href="index.html">Home</a></li>
                            <li class="list-inline-item"><a class="page-scroll" href="#feature">Feature</a></li>
                            <li class="list-inline-item"><a href="about.html">About</a></li>
                            <li class="list-inline-item"><a class="page-scroll" href="#team">Team</a></li>
                            <li class="list-inline-item"><a class="page-scroll" href="#pricing">Pricing</a></li>
                            <li class="list-inline-item"><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- footer social icon -->
                    <nav class="col-12">
                        <ul class="list-inline text-lg-right text-center social-icon">
                            <li class="list-inline-item">
                                <a class="facebook" href="#"><i class="ti-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#"><i class="ti-twitter-alt"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#"><i class="ti-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="black" href="#"><i class="ti-github"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
        <!-- /footer -->

        <!-- jQuery -->
        <script src="assets/plugins/jQuery/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
        <!-- slick slider -->
        <script src="assets/plugins/slick/slick.min.js"></script>
        <!-- venobox -->
        <script src="assets/plugins/Venobox/venobox.min.js"></script>
        <!-- aos -->
        <script src="assets/plugins/aos/aos.js"></script>
        <!-- Main Script -->
        <script src="assets/js/script.js"></script>

    </body>

</html>
